html, body {
	height: 100%;
	width: 100%;
}

.hero-header {
	font-family: 'Muli', sans-serif;
	color: black;
	text-align: center;
	margin-bottom: .3em;
	font-size: 60px;
}

.hero-sub-header {
	font-family: 'Muli', sans-serif;
	color: black;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 1px;
	font-size: 25px;
	font-weight: 100;
}

.bottom-nav {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 1.2em;
}


.blue-circle-main {
	height: 300px;
	width: 300px;
	background-color: blue;
	border-radius: 50%;
	align-items: center;
	margin-top: 150px;
	margin-left: 80px;
}

#hero-right {
	background: white;
	border: solid black 2px;
	border-right: none;
}

#hero-left {
	background: red;
	border-left: solid black 2px;
	border-bottom: solid black 2px;
}

.yellow-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 150px 259.8px 150px;
	border-color: transparent transparent yellow transparent;
	margin-top: 112px;
	float: right;
}

ul {
	margin-top: 3px;
}

#navbar {
	height: 45px;
	border: 2px solid black;
	width: 100%;
	background-color: white;
	z-index: 10;
	position: fixed;
}

.about-link {
	display: inline;
	margin-right: 18px;
    float: right;
    margin-top: -22px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.about-link:hover {
	color: blue;
	text-decoration: line-through;
}

.navbar-icon {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: blue;
	margin-top: 7.5px;
}

.navbar-icon:hover {
	animation: colorchange 2s infinite;
}

 @keyframes colorchange {
 	0%   {background: blue;}
 	25%  {background: red;}
    50%  {background: blue;}
    75%  {background: yellow;}
    100% {background: blue;}
}

.font-links {
	color: black;
}

.font-links:hover {
	color: blue;
	text-decoration: line-through;
}

/*DAY 1*/

#day-one-left {
	border-left: solid 2px black;
	background: blue;
}

#day-one-right {
	border: solid 2px black;
	border-right: none;
	background: red;
}


.day-one-body {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 27px;
	text-align: left;
	margin-left: 120px;
	margin-right: 120px;
	line-height: 68px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.white {
	color: white;
}

.playfair-span {
	font-family: 'Playfair Display', serif;
	transform: rotate(2deg);
	display: inline-block;
}

.blue-bar {
	background: blue;
	height: 50%;
	width: 100%;
}

.day-one-atr {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}

.day-one-type {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 2em;
}

.my-grid {
	height: 100%;
	width: 100%;
	display: grid; 
	grid-template-rows: repeat(6, 1fr);
}

.my-grid-2 {
	display: grid;
  	grid-template: repeat(6, [row] minmax(120px, 1fr)) / repeat(2, [col] 1fr);
    grid-gap: 20px;
}

.blue-column {
	background-color: blue;
}

.blue-column:hover {
	background: white;
}

.blue-column:hover:nth-child(even) {
	background: yellow;
}

/*DAY 2*/

#day-two-left {
	border-left: solid 2px black;
	position: relative;
	z-index: 0;
}

#day-two-right {
	border: solid 2px black;
	border-right: 0;
	background: linear-gradient(50deg, white 57%, yellow 10%);
}

.day-two-body {
	font-family: 'Esteban', serif;
	font-size: 24px;
    color: black;
    margin: 10px;
    padding-left: 7px;
    padding-right: 4px;
}

.day-two-atr {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.day-two-blue-rectangle {
    grid-column: col 1 / span 4;
  	grid-row: row 1;
  	height: 40px;
  	height: 186px;
  	background: blue;
}

.day-two-red-rectangle {
    grid-column: col 1;
  	grid-row: row 1 / span 3;
  	background: red;
  	opacity: 0.8;
}

.text-box {
	height: 315px;
	width: 350px;
	display: flex;
    justify-content: center;
    flex-direction: column;
    border: yellow 4px solid;
}

.day-two-large-red-circle {
	background: red;
	border-radius: 50%;
	height: 20em;
	width: 20em;
	opacity: 0.8;
	animation: MoveUpDown 3s ease-in infinite;
}


.day-two-sm-blue-circle {
	background: blue;
	border-radius: 50%;
	height: 10em;
	width: 10em;
	animation: MoveUpDownReverse 3s ease-in infinite;

}

.opaque-blue-row {
	background: blue;
	opacity: 0.7;
	width: 100%;
	height: 30%;
  	position: relative;
  	z-index: 2;
  	
}

.yellow-column-2 {
	background: yellow;
	width: 50%;
	height: 100%;
  	position: relative;
  	z-index: 1;
  	margin-top: -34.4%;
}

.big-red-circle-2 {
	background: red;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	position: relative;
  	z-index: 3;
  	margin-top: -90%;
  	opacity: 0.6;
  	margin-left: 90px;
}

.small-blue-circle-2 {
	background: blue;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: relative;
  	z-index: 3;
  	margin-top: -10%;
  	margin-right: 100px;
  	float: right;
}

/*ABOUT PAGE*/

#about-page {
	height: 100%;
	width: 100%;
	
}

#border-blue-about {
	display: flex;
	align-items: center;
}

#test {
	height: 80%;
}

.about-paragraph-text {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	margin-left: 70px;
	margin-right: 70px;
}

.red-alexa-link {
	color: black;
}

.red-alexa-link:hover {
	color: red;
	text-decoration: line-through;
}

svg.svg-inline--fa.fa-angle-left.fa-w-8 {
	color: red;
	font-size: 30px;
	margin-left: 20px;
}

svg.svg-inline--fa.fa-github.fa-w-16 {
	margin-left: 0;
	font-size: 25px;
	color: black;
	text-align: center;
	margin-top: 15px;
}

.back-arrow {
	margin-top: -29px;
    margin-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.back-arrow:hover {
	text-decoration: line-through;
}

#back-arrow-row {
	margin-top: 30px;
}

.about-blue-circle {
	height: 110px;
	width: 110px;
	background: blue;
	border-radius: 50%;
	display: inline-block;
	margin-right: 40px;
}

.about-red-square {
	height: 100px;
	width: 100px;
	background-color: red;
	display: inline-block;
	margin-right: 40px;
}

.about-yellow-square {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 65px 112.6px 65px;
	border-color: transparent transparent yellow transparent;
	display: inline-block;
}

#bauhaus-triad {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.social-links {
	margin-left: 20px;
	font-size: 25px;
	color: black;
	text-align: center;
}

svg.svg-inline--fa.fa-github.fa-w-16:hover, a.social-links:hover {
	animation: colorchange2 2s infinite;
}

@keyframes colorchange2 {
 	0%   {color: blue;}
 	25%  {color: red;}
    50%  {color: blue;}
    75%  {color: yellow;}
    100% {color: blue;}
}




 /*DAY THREE*/

#day-three-right {
 	border: solid 2px black;
	border-right: 0;
	/*background: linear-gradient(140deg, white 70%, red 5%);*/
 }

 #day-three-left {
 	border: solid 2px black;
	border-right: 0;
	background: linear-gradient(-23deg, white 70%, blue 5%);
 }

 .day-three-atr {
	font-family: 'Libre Baskerville', serif;
	text-align: center;
 }

 .day-three-body {
 	font-family: 'Raleway', sans-serif;
 	font-size: 30px;
 	/*transform: rotate(90deg);*/
    /*margin-top: 200px;*/
    color: blue;
 }

 .yellow-circle-three-small {
 	
    background: yellow;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 0;
    -webkit-animation: rotation 15s infinite linear;
 }

.day-three-z-index {
	    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 30%;*/
    flex-direction: column;
    
    border: solid red 2px;
    padding: 40px;

}
 .day-three-type {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	transform: rotate(90deg);
	margin-right: 240px;
	margin-top: 2em;
 }

 .font-links-three {
 	color: white;
 }

 .font-links-three:hover {
 	color: red;
	text-decoration: line-through;
 }

 .grid-day-three {
   display: grid;
    grid-template: repeat(6, [row] minmax(120px, 1fr)) / repeat(4, [col] 1fr);
    grid-gap: 20px;
    position: relative;
    z-index: 0;
}


.day-three-red-stripe {
	    grid-column: col 4;
    grid-row: row 1 / span 4;
    background: red;
    opacity: 0.8;
    position: relative;
    z-index: 0;
    position: relative;
    z-index: 2;
    /* margin-right: 15px; */

}

.day-three-yellow-stripe {
	    grid-column: col 1 / span 4;
    grid-row: row 4;
    height: 192px;
    background: yellow;
    position: relative;
    z-index: 1;

}

.day-three-yellow-box {
	height: 100px;
	width: 100px;
	background: yellow;
	-webkit-animation: rotation 15s infinite linear;
	opacity: 0.7;
	position: relative;
    z-index: 1;
}

.day-three-blue-box {
	height: 100px;
	width: 100px;
	background: blue;
	-webkit-animation: rotation 40s infinite linear;
	opacity: 0.8;
	position: relative;
    z-index: 1;
}

/*DAY FOUR*/

#day-four-left {
	border: 2px black solid;
	background-color: red;


}

#day-four-right {
	background-color: blue;

}

.day-four-body {
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	text-align: center;
	color: #ff6666;
	-webkit-text-stroke: 1px black;
}

.day-four-atr {
	font-family: 'PT Serif', serif;
	color:  black;
	font-size: 18px;
	text-align: center;
}

.day-four-span {
	color:  #ff1a1a;
	-webkit-text-stroke: 1px black;

}

.day-four-text-box {
	border: black 1px solid;
	outline: 2px solid #ff6666;
    outline-offset: 15px;
    padding: 20px;
}

.grid-day-four {
	display: grid;
  	grid-template: repeat(7, [row] minmax(120px, 1fr)) / repeat(10, [col] 1fr);
}

.day-four-blue-column {
	background:  blue;
	grid-column: col 1;
    grid-row: row 1 / span 7;

}

#four-row-2 {
background:  blue;
	grid-column: col 3;
    grid-row: row 1 / span 7;
}

#four-row-3 {
	background:  blue;
	grid-column: col 5;
    grid-row: row 1 / span 7;

}

.day-four-pink-column {
	background: #ff6666;
	grid-column: col 6;
    grid-row: row 1 / span 7;

}

#four-row-4 {
	background: red;
	grid-column: col 7;
    grid-row: row 1 / span 7;
}

#four-row-5 {
	background: red;
	grid-column: col 8;
    grid-row: row 1 / span 6;
        
}

#four-row-6 {
	background: red;
	grid-column: col 9;
    grid-row: row 1 / span 6;
        
}

#four-row-7 {
	background: red;
	grid-column: col 10;
    grid-row: row 1 / span 6;
        
}

.day-four-yellow-column {
	background: yellow;
    grid-column: col 4;
    grid-row: row -6 / span 6;
}

.day-four-yellow-opaque-column {
	background: white;
    grid-column: col 1;
    grid-row: row 3 / span 3;
}
/*DAY FIVE*/

#day-five-right {
	border: solid 2px black;
}

.day-five-body {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	margin-left: 60px;
	margin-right: 60px;
	font-size: 20px;
}

.day-five-atr {
	font-family: 'Song Myung', serif;
	text-align: center;
}

.z-index-day-five {
	position: relative;
	z-index: 1;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.big-yellow-circle {
	border-radius: 50%;
	background: yellow;
	height: 500px;
	width: 500px;
	position: relative;
	z-index: 0;
}

.day-five-grid {
    display: grid;
    grid-template: repeat(6, [row] minmax(120px, 1fr)) / repeat(4, [col] 1fr);
    grid-gap: 20px;
  }

  .day-five-red-rectangle {
  	grid-column: col 1;
  	grid-row: row 1 / span 4;
  	background: blue;
  	opacity: 0.8;
  	position: relative;
  	z-index: 0;

  }

  .day-five-blue-rectangle {
  	grid-column: col 1 / span 4;
    grid-row: row 1;
    height: 40px;
    height: 186px;
    background: red;
  }

  .day-five-yellow-rectangle {
  	grid-column: col 1 / span 4;
    grid-row: row 4;
    height: 192px;
    background: yellow;
    position: relative;
    z-index: 1;
    opacity: 0.7;

  }

  .day-five-light-blue-rectangle {
  	grid-column: col 4;
  	grid-row: row 1 / span 4;
  	background: red;
  	opacity: 0.8;
  	position: relative;
  	z-index: 0;
  	position: relative;
  	z-index: 2;
  }

/*DAY SIX*/

/*font-family: 'Noto Serif', serif;
font-family: 'Raleway Dots', cursive;*/

#day-six-left {
	border: black 2px solid;

}

#day-six-right {
	
}

.day-six-yellow-border {
	border: yellow solid 2px;
	height: 310px;
	width: 310px;
	padding: 15px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    margin: 30px;
    position: relative;
    z-index: 1;
}

.bottom-right {
	display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.day-six-body {
	font-family: 'Raleway Dots', cursive;
	font-size: 20px;
	text-align: center;
}

.day-six-atr {
	font-family: 'Noto Serif', serif;
	text-align: center;
	font-weight: 100;
}

.day-six-red-circle {
	background-color: red;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 20px;
}

.day-six-yellow-circle {
	background-color: yellow;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 20px;
}

.day-six-blue-circle {
	background-color: blue;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin: 20px;
}

.day-six-yellow-rectangle {
	grid-column: col 2;
    grid-row: row 1 / span 3;
    background: yellow;
    opacity: 0.8;
}

.day-six-red-rectangle {

    grid-column: col 1;
    grid-row: row 1 / span 1;
    background: red;
    opacity: 0.8;
}

.grid-six {
	    display: grid;
    grid-template: repeat(6, [row] minmax(120px, 1fr)) / repeat(2, [col] 1fr);
}
   




	
 
@keyframes MoveUpDown {
    0% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: translate(-5px, -5px) rotateX(3deg) rotateY(3deg);
    }
    100% {
        transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);
    }
}

 @keyframes MoveUpDownReverse {
    0% {
        transform: translate(-5px, -5px) rotateX(3deg) rotateY(3deg);
    }
    50% {
    	transform: translate(0px, 0px) rotateX(0deg) rotateY(0deg);    
    }
    100% {
       transform: translate(-5px, -5px) rotateX(3deg) rotateY(3deg); 
    }
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

/*MEDIA QUERIES*/

@media only screen 
  and (min-width: 400px) 
  and (max-width: 440px) {
  	.about-blue-circle {
  		height: 80px;
  		width: 80px;
  	}
  	.about-red-square {
  		height: 80px;
  		width: 80px;
  	}
  	.about-yellow-square {
  		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 50px 86.6px 50px;
		border-color: transparent transparent yellow transparent;
	}
  }

@media only screen 
  and (min-width: 400px) 
  and (max-width: 513px) {
  	#hero-right {
		background-color: red;
		border: none;
	}
	.blue-circle-main {
		display: none;
	}
	.yellow-triangle {
		display: none;
	}
	h1.hero-header.align-center {
		font-size: 37px;
	}
	h2.hero-sub-header {
		font-size: 20px;
	}
}

@media only screen 
  and (min-width: 514px) 
  and (max-width: 838px) {
	.blue-circle-main {
		height: 170px;
		width: 170px;

	}
	.yellow-triangle {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 100px 173.2px 100px;
		border-color: transparent transparent yellow transparent;
		margin-right: 30px;
	}
	h1.hero-header.align-center {
		font-size: 37px;
	}
	h2.hero-sub-header {
		font-size: 20px;
	}
}

@media only screen 
  and (min-width: 870px) 
  and (max-width: 1029px) {
	p.day-one-body {
		line-height: 40px;
		margin-left: 20px;
		margin-right: 20px; 
	}
}

@media only screen 
  and (min-width: 400px) 
  and (max-width: 869px) {
	p.day-one-body {
		line-height: 40px;
		margin-left: 20px;
		margin-right: 20px; 
		font-size: 20px;
	}
	#day-one-right {
		background: blue;
		border: none;
	}
	p.day-one-atr {
		font-size: 16px;
	}
	a.font-links:hover {
		color: red;
	}
}

  @media only screen 
  and (min-width: 641px) 
  and (max-width: 868px) {
  	.about-blue-circle {
  		height: 60px;
  		width: 60px;
  	}
  	.about-red-square {
  		height: 60px;
  		width: 60px;
  	}
  	.about-yellow-square {
  		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 35px 60.6px 35px;
		border-color: transparent transparent yellow transparent;
	}


  }

   @media only screen 
  and (min-width: 400px) 
  and (max-width: 810px) {
  	#day-two-right {
  		border: none;
  		background: yellow;
  	}
  	.day-two-large-red-circle {
  		display: none;
  	}
  	.day-two-sm-blue-circle {
  		display: none;
	}
	.text-box {
		width: 143px;
	}
	.day-two-body {
		font-size: 16px;
	}
	.day-two-atr {
		font-size: 10px;
	}


  }

@media only screen 
  and (min-width: 400px) 
  and (max-width: 1440px) {
  	.grid-day-three {
  		margin-top: 0;
  	}
  }

@media only screen 
  and (min-width: 400px) 
  and (max-width: 1056px) {
  	.day-three-yellow-box {
  		display: none;
  	}
  	.day-three-body {
  		font-size: 36px;
  	}
  }

  @media only screen 
  and (min-width: 780px) 
  and (max-width: 1170px) {
  	.day-four-text-box {
  		height: 300px;
  		width: 300px;
  	}
  	.day-four-body {
  		font-size: 31px;
  	}
  }


  @media only screen 
  and (min-width: 400px) 
  and (max-width: 780px) {
  	.day-four-text-box {
  		height: 350px;
  		width: 100px;
  		margin-left: 20px;
  	}
  	.day-four-body {
  		font-size: 18px;
  	}
  	.day-four-blue-column {
  		display: none;
  	}
  	.day-four-white-column {
  		display: none;
  	}
  	.day-four-pink-column {
  		display: none;
  	}
  	#day-four-right {
  		background: red;
  		border: none;
  	}
  	#day-four-left {
  		background: red;
  		border: none;
  	}
  	.day-four-atr {
  		font-size: 12px;
  	}
  }



