html, body {
	height: 100%;
	width: 100%;
}

.hero-header {
	font-family: 'Muli', sans-serif;
	color: black;
	text-align: center;
	margin-bottom: .3em;
	font-size: 60px;
}

.hero-sub-header {
	font-family: 'Muli', sans-serif;
	color: black;
	text-align: center;
	font-family: 'Cabin', sans-serif;
	letter-spacing: 1px;
	font-size: 25px;
	font-weight: 100;
}

.bottom-nav {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 1.2em;
	/*display: flex;
 	flex-flow: column nowrap;
	margin-top: auto;*/
}


.blue-circle-main {
	height: 300px;
	width: 300px;
	background-color: blue;
	border-radius: 50%;
	align-items: center;
	margin-top: 150px;
	margin-left: 80px;
	
}

#hero-right {
	background: white;
	border: solid black 2px;
	border-right: none;
}

#hero-left {
	background: red;
	border-left: solid black 2px;
	border-bottom: solid black 2px;
}

.yellow-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 150px 259.8px 150px;
	border-color: transparent transparent yellow transparent;
	margin-top: 112px;
	float: right;
}

ul {
	margin-top: 3px;
}

#navbar {
	height: 45px;
	border: 2px solid black;
	width: 100%;
	background-color: white;
	z-index: 10;
	position: fixed;
}

.about-link {
	display: inline;
	margin-right: 18px;
    float: right;
    margin-top: -22px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: black;
}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.about-link:hover {
	color: blue;
	text-decoration: line-through;
}

.navbar-icon {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: blue;
	margin-top: 7.5px;
}

.navbar-icon:hover {
	animation: colorchange 2s infinite;
}

 @keyframes colorchange {
 	0%   {background: blue;}
 	25%  {background: red;}
    50%  {background: blue;}
    75%  {background: yellow;}
    100% {background: blue;}
}

.font-links {
	color: black;
}

.font-links:hover {
	color: blue;
	text-decoration: line-through;
}

/*DAY 1*/

#day-one-left {
	border-left: solid 2px black;
	background: blue;
}

#day-one-right {
	border: solid 2px black;
	border-right: none;
	background: red;
}


.day-one-body {
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 27px;
	text-align: left;
	margin-left: 120px;
	margin-right: 120px;
	line-height: 68px;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.yellow {
	color: yellow;
}

.white {
	color: white;
}

.playfair-span {
	font-family: 'Playfair Display', serif;
	transform: rotate(2deg);
	display: inline-block;
}

.blue-bar {
	background: blue;
	height: 50%;
	width: 100%;
}

.day-one-atr {
	font-family: 'Playfair Display', serif;
	color: black;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
}

.day-one-type {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	margin-top: 2em;
}

.my-grid {
	height: 100%;
	width: 100%;
	display: grid; 
	grid-template-rows: repeat(6, 1fr); /*1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr this is the same thing, shorthand vs longhand*/
}

.blue-column {
	background-color: blue;
}

.blue-column:hover {
	background: white;
}

.blue-column:hover:nth-child(even) {
	background: yellow;
}

/*.white-column {
	background-color: white;
}

.white-column:hover {
	background: yellow;
}*/

/*.white-column:hover:nth-child(4) {
	background: yellow;
}*/

/*DAY 2*/

#day-two-left {
	border-left: solid 2px black;
}

#day-two-right {
	border: solid 2px black;
	border-right: 0;
}

/*.day-two-grid {
	display: grid;
  
  	display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}*/

.opaque-blue-row {
	background: blue;
	opacity: 0.7;
	width: 100%;
	height: 30%;
  	position: relative;
  	z-index: 2;
  	
}

.yellow-column-2 {
	background: yellow;
	width: 50%;
	height: 100%;
  	position: relative;
  	z-index: 1;
  	margin-top: -34.4%;
}

.big-red-circle-2 {
	background: red;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	position: relative;
  	z-index: 3;
  	margin-top: -90%;
  	opacity: 0.6;
  	margin-left: 90px;
}

.small-blue-circle-2 {
	background: blue;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	position: relative;
  	z-index: 3;
  	margin-top: -10%;
  	margin-right: 100px;
  	float: right;
}

/*ABOUT PAGE*/

#about-page {
	height: 100%;
	width: 100%;
	
}

#border-blue-about {
	display: flex;
	align-items: center;
}

#test {
	height: 80%;
}

.about-paragraph-text {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	margin-left: 70px;
	margin-right: 70px;
}

.red-alexa-link {
	color: black;
}

.red-alexa-link:hover {
	color: red;
	text-decoration: line-through;
}

svg.svg-inline--fa.fa-angle-left.fa-w-8 {
	color: red;
	font-size: 30px;
	margin-left: 20px;
}

svg.svg-inline--fa.fa-github.fa-w-16 {
	margin-left: 0;
	font-size: 25px;
	color: black;
	text-align: center;
	margin-top: 15px;
}

.back-arrow {
	margin-top: -29px;
    margin-left: 50px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

.back-arrow:hover {
	text-decoration: line-through;
}

#back-arrow-row {
	margin-top: 30px;
}

.about-blue-circle {
	height: 110px;
	width: 110px;
	background: blue;
	border-radius: 50%;
	display: inline-block;
	margin-right: 40px;
}

.about-red-square {
	height: 100px;
	width: 100px;
	background-color: red;
	display: inline-block;
	margin-right: 40px;
}

.about-yellow-square {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 65px 112.6px 65px;
	border-color: transparent transparent yellow transparent;
	display: inline-block;
}

#bauhaus-triad {
	display: flex;
	align-items: center;
	justify-content: center;
}

a.social-links {
	margin-left: 20px;
	font-size: 25px;
	color: black;
	text-align: center;
}

svg.svg-inline--fa.fa-github.fa-w-16:hover, a.social-links:hover {
	animation: colorchange2 2s infinite;
}

@keyframes colorchange2 {
 	0%   {color: blue;}
 	25%  {color: red;}
    50%  {color: blue;}
    75%  {color: yellow;}
    100% {color: blue;}
}

/*MEDIA QUERIES*/

@media only screen 
  and (min-width: 400px) 
  and (max-width: 440px) {
  	.about-blue-circle {
  		height: 80px;
  		width: 80px;
  	}
  	.about-red-square {
  		height: 80px;
  		width: 80px;
  	}
  	.about-yellow-square {
  		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 50px 86.6px 50px;
		border-color: transparent transparent yellow transparent;
	}
  }

@media only screen 
  and (min-width: 400px) 
  and (max-width: 513px) {
  	#hero-right {
		background-color: red;
		border: none;
	}
	.blue-circle-main {
		display: none;
	}
	.yellow-triangle {
		display: none;
	}
	h1.hero-header.align-center {
		font-size: 37px;
	}
	h2.hero-sub-header {
		font-size: 20px;
	}
}

@media only screen 
  and (min-width: 514px) 
  and (max-width: 838px) {
	.blue-circle-main {
		height: 170px;
		width: 170px;

	}
	.yellow-triangle {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 100px 173.2px 100px;
		border-color: transparent transparent yellow transparent;
		margin-right: 30px;
	}
	h1.hero-header.align-center {
		font-size: 37px;
	}
	h2.hero-sub-header {
		font-size: 20px;
	}
}

@media only screen 
  and (min-width: 870px) 
  and (max-width: 1029px) {
	p.day-one-body {
		line-height: 40px;
		margin-left: 20px;
		margin-right: 20px; 
	}
}

@media only screen 
  and (min-width: 400px) 
  and (max-width: 869px) {
	p.day-one-body {
		line-height: 40px;
		margin-left: 20px;
		margin-right: 20px; 
		font-size: 20px;
	}
	#day-one-right {
		background: blue;
		border: none;
	}
	p.day-one-atr {
		font-size: 16px;
	}
	a.font-links:hover {
		color: red;
	}
}

  @media only screen 
  and (min-width: 641px) 
  and (max-width: 868px) {
  	.about-blue-circle {
  		height: 60px;
  		width: 60px;
  	}
  	.about-red-square {
  		height: 60px;
  		width: 60px;
  	}
  	.about-yellow-square {
  		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 35px 60.6px 35px;
		border-color: transparent transparent yellow transparent;
	}


  }


